<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160403001-CoreAnimation-FoldPicture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F8F1991CB1743300648313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F8F1B21CB1743300648313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F8F1BD1CB1743300648313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
